<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="/stylesheets/bootstrap.min.css"/>
		<link rel="stylesheet" href="/stylesheets/bootstrap-datepicker.min.css"/>
		<link rel="stylesheet" href="/stylesheets/style.css"/>
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
		<section class="menu">
		</section>
		<section class="grid">
		</section>
		<form class="form-new">
		</form>
		<section class="list">
		</section>
		<section class="item-modify">
		</section>
		<script type="text/javascript" src="/javascripts/jq.js"></script>
		<script type="text/javascript" src="/javascripts/moment.min.js"></script>
		<script type="text/javascript" src="/javascripts/underscore-min.js"></script>
		<script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
		<script type="text/javascript" src="/javascripts/bootstrap-datepicker.js"></script>
		<script type="text/javascript" src="/javascripts/api.js"></script>
		<script type="text/javascript" src="/javascripts/common.js"></script>
		<script type="text/javascript" src="/javascripts/page/item-list.js"></script>
		<script type="text/javascript" src="/javascripts/page/index.js"></script>
	</body>
</html>